# Importing / Merging Data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import folium

In [2]:
df_values = pd.read_csv('data/values.csv')
df_labels = pd.read_csv('data/labels.csv')

In [3]:
df_values

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,0,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59396,27263,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,0,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
59397,37057,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,0,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,31282,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
59399,26348,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,0,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [4]:
df_labels

          id    status_group
0      69572      functional
1       8776      functional
2      34310      functional
3      67743  non functional
4      19728      functional
...      ...             ...
59395  60739      functional
59396  27263      functional
59397  37057      functional
59398  31282      functional
59399  26348      functional

[59400 rows x 2 columns]

In [5]:
df = pd.merge(df_values, df_labels, on='id')

# Scrubbing

#### Checking for Duplicates

In [6]:
df['id'].duplicated().value_counts()

False    59400
Name: id, dtype: int64

Dropping 'id' as it no longer holds any use after merging and checking for duplicates

In [7]:
df.drop('id', axis=1, inplace=True)

#### Dealing With Null Values

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59400 non-null  float64
 1   date_recorded          59400 non-null  object
 2   funder                 55765 non-null  object
 3   gps_height             59400 non-null  int64
 4   installer              55745 non-null  object
 5   longitude              59400 non-null  float64
 6   latitude               59400 non-null  float64
 7   wpt_name               59400 non-null  object
 8   num_private            59400 non-null  int64
 9   basin                  59400 non-null  object
 10  subvillage             59029 non-null  object
 11  region                 59400 non-null  object
 12  region_code            59400 non-null  int64
 13  district_code          59400 non-null  int64
 14  lga                    59400 non-null  object
 15  ward                   59400 non-null  object
 16  population             59400 non-null  int64
 17  public_meeting         56066 non-null  object
 18  recorded_by            59400 non-null  object
 19  scheme_management      55523 non-null  object
 20  scheme_name            31234 non-null  object
 21  permit                 56344 non-null  object
 22  construction_year      59400 non-null  int64
 23  extraction_type        59400 non-null  object
 24  extraction_type_group  59400 non-null  object
 25  extraction_type_class  59400 non-null  object
 26  management             59400 non-null  object
 27  management_group       59400 non-null  object
 28  payment                59400 non-null  object
 29  payment_type           59400 non-null  object
 30  water_quality          59400 non-null  object
 31  quality_group          59400 non-null  object
 32  quantity               59400 non-null  object
 33  quantity_group         59400 non-null  object
 34  source                 59400 non-null  object
 35  source_type            59400 non-null  object
 36  source_class           59400 non-null  object
 37  waterpoint_type        59400 non-null  object
 38  waterpoint_type_group  59400 non-null  object
 39  status_group           59400 non-null  object
dtypes: float64(3), int64(6), object(31)
memory usage: 18.6+ MB

In [9]:
df.isna().sum()

amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

**Null Values**
- funder
- installer
- subvillage
- public_meeting
- scheme_management
- scheme_name 
- permit 

Column descriptions: https://www.drivendata.org/competitions/7/pump-it-up-data-mining-the-water-table/page/25/#features_list

In [10]:
df['scheme_name'].value_counts()

K                                  682
None                               644
Borehole                           546
Chalinze wate                      405
M                                  400
                                  ...
Mumikindo  spring source             1
Njalamatatawater gravity scheme      1
AIC                                  1
MARANG                               1
Kinaduma  water supply               1
Name: scheme_name, Length: 2696, dtype: int64

Dropping 'scheme_name' as over half of the data is already missing

In [11]:
df.drop('scheme_name', axis=1, inplace=True)

In [12]:
df['subvillage'].value_counts(normalize=True)

Madukani        0.008606
Shuleni         0.008572
Majengo         0.008504
Kati            0.006319
Mtakuja         0.004438
                  ...
Mkulu B         0.000017
Igombezi        0.000017
Jengalangulo    0.000017
Chamtumile      0.000017
Mwabadagija     0.000017
Name: subvillage, Length: 19287, dtype: float64

**OBSERVATION**
- Dropping 'subvillage', as it has nearly 20,000 unique string values
    - Much more consice geographical data is offered by 'region'

In [13]:
df.drop('subvillage', axis=1, inplace=True)

In [14]:
df['funder'].value_counts(normalize=True)

Government Of Tanzania            0.162898
Danida                            0.055841
Hesawa                            0.039487
Rwssp                             0.024639
World Bank                        0.024191
                                    ...
Masista                           0.000018
Grazie Grouppo Padre Fiorentin    0.000018
Usambala Sister                   0.000018
Dv                                0.000018
Vwcvwc                            0.000018
Name: funder, Length: 1897, dtype: float64

In [15]:
df['funder'].value_counts()

Government Of Tanzania            9084
Danida                            3114
Hesawa                            2202
Rwssp                             1374
World Bank                        1349
                                  ...
Masista                              1
Grazie Grouppo Padre Fiorentin       1
Usambala Sister                      1
Dv                                   1
Vwcvwc                               1
Name: funder, Length: 1897, dtype: int64

In [16]:
series = pd.value_counts(df['funder'])
mask = (series/series.sum() * 100).lt(.75)
df['funder'] = np.where(df['funder'].isin(series[mask].index),'Other',df['funder'])
df['funder'].value_counts()

Other                     24220
Government Of Tanzania     9084
Danida                     3114
Hesawa                     2202
Rwssp                      1374
World Bank                 1349
Kkkt                       1287
World Vision               1246
Unicef                     1057
Tasaf                       877
District Council            843
Dhv                         829
Private Individual          826
Dwsp                        811
0                           777
Norad                       765
Germany Republi             610
Tcrs                        602
Ministry Of Water           590
Water                       583
Dwe                         484
Netherlands                 470
Hifab                       450
Adb                         448
Lga                         442
Amref                       425
Name: funder, dtype: int64

In [17]:
df = df.replace({'funder': '0'}, 'Other')

In [18]:
df['funder'].value_counts()

Other                     24997
Government Of Tanzania     9084
Danida                     3114
Hesawa                     2202
Rwssp                      1374
World Bank                 1349
Kkkt                       1287
World Vision               1246
Unicef                     1057
Tasaf                       877
District Council            843
Dhv                         829
Private Individual          826
Dwsp                        811
Norad                       765
Germany Republi             610
Tcrs                        602
Ministry Of Water           590
Water                       583
Dwe                         484
Netherlands                 470
Hifab                       450
Adb                         448
Lga                         442
Amref                       425
Name: funder, dtype: int64

In [19]:
df['installer'].value_counts(normalize=True)

DWE                          0.312171
Government                   0.032738
RWE                          0.021634
Commu                        0.019015
DANIDA                       0.018836
                               ...
ROMAN CATHOLIC               0.000018
Jumanne Siabo                0.000018
ANSWAR                       0.000018
ODA                          0.000018
Wamisionari wa Kikatoriki    0.000018
Name: installer, Length: 2145, dtype: float64

In [20]:
series = pd.value_counts(df['installer'])
mask = (series/series.sum() * 100).lt(.75)
df['installer'] = np.where(df['installer'].isin(series[mask].index),'Other',df['installer'])
df['installer'].value_counts()

Other                 26553
DWE                   17402
Government             1825
RWE                    1206
Commu                  1060
DANIDA                 1050
KKKT                    898
Hesawa                  840
0                       777
TCRS                    707
Central government      622
CES                     610
Community               553
DANID                   552
District Council        551
HESAWA                  539
Name: installer, dtype: int64

In [21]:
df = df.replace({'installer': '0'}, 'Other')

In [22]:
df['installer'].value_counts(normalize=True)

Other                 0.490268
DWE                   0.312171
Government            0.032738
RWE                   0.021634
Commu                 0.019015
DANIDA                0.018836
KKKT                  0.016109
Hesawa                0.015069
TCRS                  0.012683
Central government    0.011158
CES                   0.010943
Community             0.009920
DANID                 0.009902
District Council      0.009884
HESAWA                0.009669
Name: installer, dtype: float64

In [23]:
df['permit'].value_counts(normalize=True)

True     0.68955
False    0.31045
Name: permit, dtype: float64

In [24]:
len(df['scheme_management'].unique())

13

In [25]:
df['scheme_management'].value_counts()

VWC                 36793
WUG                  5206
Water authority      3153
WUA                  2883
Water Board          2748
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59400 non-null  float64
 1   date_recorded          59400 non-null  object
 2   funder                 55765 non-null  object
 3   gps_height             59400 non-null  int64
 4   installer              55745 non-null  object
 5   longitude              59400 non-null  float64
 6   latitude               59400 non-null  float64
 7   wpt_name               59400 non-null  object
 8   num_private            59400 non-null  int64
 9   basin                  59400 non-null  object
 10  region                 59400 non-null  object
 11  region_code            59400 non-null  int64
 12  district_code          59400 non-null  int64
 13  lga                    59400 non-null  object
 14  ward                   59400 non-null  object
 15  population             59400 non-null  int64
 16  public_meeting         56066 non-null  object
 17  recorded_by            59400 non-null  object
 18  scheme_management      55523 non-null  object
 19  permit                 56344 non-null  object
 20  construction_year      59400 non-null  int64
 21  extraction_type        59400 non-null  object
 22  extraction_type_group  59400 non-null  object
 23  extraction_type_class  59400 non-null  object
 24  management             59400 non-null  object
 25  management_group       59400 non-null  object
 26  payment                59400 non-null  object
 27  payment_type           59400 non-null  object
 28  water_quality          59400 non-null  object
 29  quality_group          59400 non-null  object
 30  quantity               59400 non-null  object
 31  quantity_group         59400 non-null  object
 32  source                 59400 non-null  object
 33  source_type            59400 non-null  object
 34  source_class           59400 non-null  object
 35  waterpoint_type        59400 non-null  object
 36  waterpoint_type_group  59400 non-null  object
 37  status_group           59400 non-null  object
dtypes: float64(3), int64(6), object(29)
memory usage: 17.7+ MB

**OBSREVATIONS**
- All columns with missing data are objects
- Dropping 'funder' and 'installer' as they have approx 2,000 unique string entries

In [27]:
df['funder'].value_counts()

Other                     24997
Government Of Tanzania     9084
Danida                     3114
Hesawa                     2202
Rwssp                      1374
World Bank                 1349
Kkkt                       1287
World Vision               1246
Unicef                     1057
Tasaf                       877
District Council            843
Dhv                         829
Private Individual          826
Dwsp                        811
Norad                       765
Germany Republi             610
Tcrs                        602
Ministry Of Water           590
Water                       583
Dwe                         484
Netherlands                 470
Hifab                       450
Adb                         448
Lga                         442
Amref                       425
Name: funder, dtype: int64

In [28]:
df.drop(['installer', 'funder'], axis=1, inplace=True)

In [29]:
df.isna().sum()

amount_tsh                  0
date_recorded               0
gps_height                  0
longitude                   0
latitude                    0
wpt_name                    0
num_private                 0
basin                       0
region                      0
region_code                 0
district_code               0
lga                         0
ward                        0
population                  0
public_meeting           3334
recorded_by                 0
scheme_management        3877
permit                   3056
construction_year           0
extraction_type             0
extraction_type_group       0
extraction_type_class       0
management                  0
management_group            0
payment                     0
payment_type                0
water_quality               0
quality_group               0
quantity                    0
quantity_group              0
source                      0
source_type                 0
source_class                0
waterpoint_type             0
waterpoint_type_group       0
status_group                0
dtype: int64

In [30]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49841 entries, 0 to 59399
Data columns (total 36 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             49841 non-null  float64
 1   date_recorded          49841 non-null  object
 2   gps_height             49841 non-null  int64
 3   longitude              49841 non-null  float64
 4   latitude               49841 non-null  float64
 5   wpt_name               49841 non-null  object
 6   num_private            49841 non-null  int64
 7   basin                  49841 non-null  object
 8   region                 49841 non-null  object
 9   region_code            49841 non-null  int64
 10  district_code          49841 non-null  int64
 11  lga                    49841 non-null  object
 12  ward                   49841 non-null  object
 13  population             49841 non-null  int64
 14  public_meeting         49841 non-null  object
 15  recorded_by            49841 non-null  object
 16  scheme_management      49841 non-null  object
 17  permit                 49841 non-null  object
 18  construction_year      49841 non-null  int64
 19  extraction_type        49841 non-null  object
 20  extraction_type_group  49841 non-null  object
 21  extraction_type_class  49841 non-null  object
 22  management             49841 non-null  object
 23  management_group       49841 non-null  object
 24  payment                49841 non-null  object
 25  payment_type           49841 non-null  object
 26  water_quality          49841 non-null  object
 27  quality_group          49841 non-null  object
 28  quantity               49841 non-null  object
 29  quantity_group         49841 non-null  object
 30  source                 49841 non-null  object
 31  source_type            49841 non-null  object
 32  source_class           49841 non-null  object
 33  waterpoint_type        49841 non-null  object
 34  waterpoint_type_group  49841 non-null  object
 35  status_group           49841 non-null  object
dtypes: float64(3), int64(6), object(27)
memory usage: 14.1+ MB

**OBSERVATIONS**
- I've dropped approx 10,000 rows; however, the dataset is still quite large at 49,841

#### Observing Other Features

In [31]:
df['waterpoint_type_group'].value_counts()

communal standpipe    30513
hand pump             13850
other                  4697
improved spring         691
cattle trough            84
dam                       6
Name: waterpoint_type_group, dtype: int64

In [32]:
df['waterpoint_type'].value_counts()

communal standpipe             24778
hand pump                      13850
communal standpipe multiple     5735
other                           4697
improved spring                  691
cattle trough                     84
dam                                6
Name: waterpoint_type, dtype: int64

In [33]:
df.drop('waterpoint_type_group', axis=1, inplace=True)

Dropping waterpoint_type_group as the same information is contained in waterpoint_type, and waterpoint_type contains more information regarding cummunal standpipes

-------------------------------------------------------
-------------------------------------------------------

In [34]:
df['source_type'].value_counts()

spring                  15180
shallow well            12569
borehole                 9932
river/lake               9695
rainwater harvesting     1661
dam                       582
other                     222
Name: source_type, dtype: int64

In [35]:
df['source_class'].value_counts()

groundwater    37681
surface        11938
unknown          222
Name: source_class, dtype: int64

-------------------------------------------------------
-------------------------------------------------------

In [36]:
df['quantity_group'].value_counts()

enough          28777
insufficient    12123
dry              5174
seasonal         3457
unknown           310
Name: quantity_group, dtype: int64

In [37]:
df['quantity'].value_counts()

enough          28777
insufficient    12123
dry              5174
seasonal         3457
unknown           310
Name: quantity, dtype: int64

In [38]:
df.drop('quantity_group', axis=1, inplace=True)

-------------------------------------------------------
-------------------------------------------------------

In [39]:
df['water_quality'].value_counts()

soft                  43749
salty                  3986
unknown                 956
coloured                419
milky                   315
salty abandoned         232
fluoride                171
fluoride abandoned       13
Name: water_quality, dtype: int64

In [40]:
df['quality_group'].value_counts()

good        43749
salty        4218
unknown       956
colored       419
milky         315
fluoride      184
Name: quality_group, dtype: int64

In [41]:
df.drop('quality', axis=1, inplace=True)

KeyError: "['quality'] not found in axis"

-------------------------------------------------------
-------------------------------------------------------

In [ ]:
df['payment_type'].value_counts()

In [ ]:
df['payment'].value_counts()

In [ ]:
df.drop('payment', axis=1, inplace=True)

-------------------------------------------------------
-------------------------------------------------------

In [ ]:
df['management'].value_counts()

In [ ]:
df['management_group'].value_counts()

-------------------------------------------------------
-------------------------------------------------------

In [ ]:
df['extraction_type_group'].value_counts()

In [ ]:
df['extraction_type_class'].value_counts()

-------------------------------------------------------
-------------------------------------------------------

In [ ]:
df['public_meeting'].value_counts()

I am unsure of the exact meaning of this column... My best guess is if the well is publically accessible or not

-------------------------------------------------------
-------------------------------------------------------

In [ ]:
df['region'].value_counts()

In [ ]:
df['region_code'].value_counts()

In [ ]:
df[df['region'] == 'Arusha']['region_code'].unique()

In [ ]:
df[df['region'] == 'Arusha']['region_code'].value_counts()

In [ ]:
df[df['region_code'] == 24]['region'].value_counts()

In [ ]:
df[df['region_code'] == 2]['region'].value_counts()

In [ ]:
df[df['region'] == 'Iringa']['region_code'].unique()

In [ ]:
df[df['region'] == 'Tabora']['region_code'].unique()

In [ ]:
len(df['region'].unique())

In [ ]:
len(df['region_code'].unique())

In [ ]:
len(df['district_code'].unique())

In [ ]:
df[df['region'] == 'Arusha']['district_code'].unique()

In [ ]:
df[df['region'] == 'Iringa']['district_code'].unique()

In [ ]:
df['lga'].value_counts()

In [ ]:
df['ward'].value_counts()

**OBSERVATION**
drop region code?

-------------------------------------------------------
-------------------------------------------------------

In [ ]:
df['num_private'].value_counts()

There is no information regarding this feature, and even the website offering a description has left it blank

-------------------------------------------------------
-------------------------------------------------------

In [ ]:
df['wpt_name'].value_counts()

In [46]:
series = pd.value_counts(df['wpt_name'])
mask = (series/series.sum() * 100).lt(.75)
df['wpt_name'] = np.where(df['wpt_name'].isin(series[mask].index),'Other',df['wpt_name'])
df['wpt_name'].value_counts()

Other        43940
none          3370
Shuleni       1407
Zahanati       659
Msikitini      465
Name: wpt_name, dtype: int64

In [ ]:
df.drop('wpt_name', axis=1, inplace=True)

-------------------------------------------------------
-------------------------------------------------------

**RECAP**
- Dropped Columns: 
    - waterpoint_type_group (redundant)
    - quantity_group (redundant)
    - payment (redundant)
    - wpt_name (too many unique string values)
    - quality_group (redundant)

--------------------------------------------------------
--------------------------------------------------------

In [ ]:
df['construction_year'].value_counts()

In [ ]:
17326/49841

In [ ]:
df['missing_construction_year'] = np.zeroes()

In [ ]:
df['date_recorded']

In [ ]:
df['year_recorded'] = pd.to_datetime(df['date_recorded']).dt.year

In [ ]:
df['year_recorded'].value_counts()

**OBSERVATIONS**
- date_recorded is descirbed as 'The date the row was entered'
    - I wil continue assuming that the date provided is when the well's status was last checked
- I will be dropping the 21 entries that have a record date of 2004 and 2002

In [ ]:
df = df[df['year_recorded'] > 2010]